@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

/* Desktop first */

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-319 {
  @media (max-width: ($vp-320 - 1px)) {
    @content;
  }
}


/* Montserrat --> Primary Font  (инфо из Style Guide) */


@mixin primary-extrabold($font_size, $line_height) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 800;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin primary-bold($font_size, $line_height) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin primary-semibold($font_size, $line_height) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin primary-medium($font_size, $line_height) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin primary-regular($font_size, $line_height) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin primary-light($font_size, $line_height) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: $font_size;
  line-height: $line_height;
}


/* Анимация */

@mixin slow_apperance($apperance_time) {
  @keyframes fadeInFromNone {
    0% {
      opacity: 0;
    }

    1% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  animation: fadeInFromNone $apperance_time ease-in-out;
}

@mixin from_none_apperance($apperance_time) {
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: flex;
      opacity: 0;
    }

    100% {
      display: flex;
      opacity: 1;
    }
  }
  animation: fadeInFromNone $apperance_time ease-in-out;
}

